html, body
{
    margin: 0;
    padding: 0;
    background-color:rgb(216, 211, 211);
}

@font-face
{
    font-family: 'exo2';
    src: url('police/Exo2-VariableFont_wght.ttf') format('truetype');
}

.container
{
    margin: auto;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0em;
    max-width: 1200px;
    display:flex;
    flex-flow: row;    
    justify-content:center ;
    background-color: white;
}

nav
{   
    width: 45%;
    background-color: #FFC400;
    text-align: left;
    vertical-align: top;
    display: inline-block;    
}

.name
{
    visibility: hidden;
}

.prenom
{
    color: #FFC400;
}

.underline
{
    text-decoration: underline #FFC400;
}

#head
{   
    height: 200px;
    margin-right: 150px;
    display: inline-block;
}

#head h2
{
    margin-left: 40px;
    margin-top: 0px;
    color: #546E7A;
    font-size: 40px;
    font-family: 'exo2',Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 60px;
    margin-left: 40px;
    margin-bottom: 5px;
    font-weight: normal;
    font-family: 'exo2',Arial, Helvetica, sans-serif;
}

#loisirs
{
    color: #546E7A;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
}

.image
{
   margin-top: 15px;
   margin-left: 20%;
   width: 150px;
   clip-path: ellipse(50% 40%);
}

nav, #corpus
{
    display: inline-block;
    vertical-align: top;
}

nav h3
{
    color:#FFC400;
    background-color:rgba(0,77,64 ,1) ;
    text-align: center;
    font-family: "exo2",Arial, Helvetica, sans-serif;
    font-size: 25px;
}

nav p
{
    padding-left: 35px;
    padding-right: 35px;
    font-family: "exo2",Arial, Helvetica, sans-serif;
}

.icone
{
    width: 40px;
}

.date
{
    width: 200px;
    font-size: 18px;
    font-family: "exo2",Arial, Helvetica, sans-serif;
}

.principal article
{
    display:inline-flex;
    flex-direction: row;
    min-width: 30%;
    max-width: 50%;
    text-align: left;
    vertical-align: top;
    padding-left: 25px;
    margin-left: 20px;     
}

.principal h2, footer h2
{
    border-bottom: 2px solid  #FFC400;
    width: 90%;
    margin-left: 4%;
    font-size: 35px;
    font-weight: bold;
    font-family: "exo2",Arial, Helvetica, sans-serif;    
}

footer article
{
    display: inline-block;
    flex-direction: row;
    text-align: left;
    vertical-align: top;
    padding-left: 35px;
    margin-left: 20px;
    max-width: 50%;
    padding-left: 5px;
    margin-left: 0px;
    padding-top: 0px;
    margin-left: 35px;  
}

footer p
{
    padding-left: 20px;
}

#langues, #informatique, .iconecomp
{
    display:inline-block;
    flex-direction: row;
    vertical-align: top;
}

#corpus article .far,#corpus article .fas
{
    color: #FFC400 ;
    font-size: 18px;
}

.titre .fas, .titre .far
{
    color: #FFC400 ;
    font-size: 40px;
}

#corpus h3,#corpus p, #corpus ul, .date
{
    color: #546E7A;   
}

#corpus h3
{
    font-weight: bold;
    margin-top: 0px;
    font-size: 28px;
    margin-bottom: 5px;
    font-family: "exo2",Arial, Helvetica, sans-serif;
}

 p, ul
{
    font-size: 18px;
    font-family: "exo2",Arial, Helvetica, sans-serif;
}

ul
{
    list-style-type: none;
}

#corpus ul li::before
{
    content:"\25E6";
    margin-right:10px;
    color:#FFC400;
}

@media all and (max-width:1130px)
{
    footer article
    {
        max-width:100%;
    }
}

@media all and (max-width:954px)
{
    .container
    {            
        display:flex;
        flex-flow: column;
        justify-content: flex-start; 
        align-items: flex-start;
        padding: 0;        
    }

    nav
    { 
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-bottom: 10px;    
    }

    .image
    {
        max-width: 140px;
        margin-left: 45%;
    }

    #contact
    {
        text-align: center;
    }

    nav p
    {
        padding-left: 40px;
        padding-right: 40px;
    }

    .name
    {
        visibility: visible;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    #corpus
    {   
        margin-right: 0px;
        width: 100%;                    
    }
     
    #corpus h2
    {
        font-size: 30px;
        padding-right: 0px;
    }

    #head
    {
        display: none;
        width: 50%;
    }

    .principal article
    {
        display: flex;
        flex-direction: row;
        min-width: 45%;
        max-width: 90%;  
    }
       
    #head h2
    {
        margin-left: 40px;
    }
        
    h1
    {
        font-size: 40px;        
    }

    .description
    {
        margin-left: 35px;
    }
          
    footer
    {
        display: flex;
        flex-direction: column;
    }

    footer article
    {
        max-width: 100%;
        padding-left: 50px;
        display:inline-block;
        flex-direction: row;
        vertical-align: top;
    }

    #langues
    {
        margin-left: 50px;
    }
}
    