html, body
{
    margin: 0;
    padding: 0;
    background-color:rgb(216, 211, 211);
}

@font-face
{
    font-family: 'exo2';
    src: url('police/Exo2-VariableFont_wght.ttf') format('truetype');
}

.container
{
    margin: auto;
    max-width: 1200px;
    display:flex;
    flex-flow: row;    
    justify-content:center ;
    background-color: white;
}

nav
{   
    width: 45%;
    background-color: #FFC400;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#propos
{
    margin-top: 20px;
    height: 950px;
}

.image-cont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.name
{
    visibility: hidden;
    font-family: 'exo2',Arial, Helvetica, sans-serif;
}

.prenom
{
    color: #FFC400;
}

.underline
{
    text-decoration: underline #FFC400;
}

header
{   
    height: 200px;
    margin-right: 150px;
}

header h2
{
    margin-left: 40px;
    margin-top: 0px;
    color: #546E7A;
    font-size: 40px;
    font-family: 'exo2',Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 60px;
    margin-left: 40px;
    margin-bottom: 5px;
    font-weight: normal;
    font-family: 'exo2',Arial, Helvetica, sans-serif;
}

.grd-loisirs
{
    height: 150px;
    margin-bottom: 0px;
}


#loisirs
{
    color: #546E7A;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    margin-bottom: 1px;
}

#loisirs a 
{
    color: #546E7A;   
}

.loisir1, .loisir2, .loisir3, .loisir4
{
    border: 2px solid #546E7A;
    border-radius: 50%;
    padding: 10px;
}

.image
{
   width: 150px;
   clip-path: ellipse(50% 40%);
}

#corpus
{
    display: inline-block;
    vertical-align: top;
}

nav h3
{
    color:#FFC400;
    background-color:rgba(0,77,64 ,1) ;
    text-align: center;
    font-family: "exo2",Arial, Helvetica, sans-serif;
    font-size: 25px;
}

nav p
{
    padding-left: 25px;
    padding-right: 25px;
    font-family: "exo2",Arial, Helvetica, sans-serif;
}

.icone
{
    padding-top: 9px;
    margin-right: 4px;
}

.date
{
    width: 200px;
    font-size: 18px;
    font-family: "exo2",Arial, Helvetica, sans-serif;    
    padding-top: 7px;
}

.description
{
    max-width: 60%;
}

.principal .grde-div
{
    display:flex;
    flex-direction: row;
    min-width: 30%;
    text-align: left;
    vertical-align: top;
    padding-left: 25px;
    margin-left: 20px;
}

.principal h2, footer h2
{
    border-bottom: 2px solid  #FFC400;
    width: 90%;
    margin-left: 4%;
    font-size: 35px;
    font-weight: bold;
    font-family: "exo2",Arial, Helvetica, sans-serif;    
}

footer .grde-div
{
    display: inline-block;
    flex-direction: row;
    text-align: left;
    vertical-align: top;
    padding-left: 100px;
    margin-left: 0px;
}

footer p
{
    padding-left: 20px;
}

#langues, #informatique
{
    display:inline-block;
    flex-direction: row;
    vertical-align: top;
}

#corpus .grde-div .far,#corpus .grde-div .fas
{
    color: #FFC400 ;
    font-size: 18px;
}

.titre .fas, .titre .far
{
    color: #FFC400 ;
    font-size: 40px;
}

#corpus h3,#corpus p, #corpus ul, .date
{
    color: #546E7A;   
}

#corpus h3
{
    font-weight: bold;
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 5px;
    font-family: "exo2",Arial, Helvetica, sans-serif;
}

 p, ul
{
    font-size: 18px;
    font-family: "exo2",Arial, Helvetica, sans-serif;
}

ul
{
    list-style-type: none;
}

#corpus ul li::before
{
    content:"\25E6";
    margin-right:10px;
    color:#FFC400;
}

@media all and (max-width:1130px)
{
    .lang 
    {
        margin-left: 75px;
    }
}

@media all and (max-width:954px)
{
    .container
    {            
        display:flex;
        flex-flow: column;
        justify-content: flex-start; 
        align-items: flex-start;
        padding: 0;        
    }

    nav
    { 
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-bottom: 10px;    
    }

    #propos
    {
        height: 280px;
    }

    .image
    {
        max-width: 140px;
    }

    .image-cont
    {
        display: flex;
        align-items: center;
        align-content: center;
    }

    #contact
    {
        text-align: center;
    }

    nav p
    {
        padding-left: 30px;
        padding-right: 30px;
    }

    .name
    {
        visibility: visible;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    #corpus
    {   
        margin-right: 0px;
        width: 100%;                    
    }
     
    #corpus h2
    {
        font-size: 30px;
        padding-right: 0px;
        margin-left: 4px;
    }

    #corpus h3
    {
        margin-top: 5px;
    }

    header
    {
        display: none;
        width: 50%;
    }

    .principal .grde-div
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 45%;
        max-width: 90%;
        padding-left:0px;  
        margin-left: 10px;
    }
       
    header h2
    {
        margin-left: 40px;
    }
        
    h1
    {
        font-size: 40px;        
    }

    .description
    {
        max-width: none;
    }
      
    .date
    {
        width: 75%;
    }

    footer
    {
        display: flex;
        flex-direction: column;
    }

    footer .grde-div
    {
        max-width: 100%;
        margin-left: 0px;
        display:inline-block;
        flex-direction: row;
        vertical-align: top;
    }

    #langues, #informatique
    {
        padding-left: 10px;
    }
    
    .lang 
    {
        margin-left: 65px;
    }

    ul
    {
        padding-left: 5px;
    }

    p, ul
    {
        font-size: 15px;
    }
    
    footer p
    {
        padding-left: 0px;
    }

    @media all and (max-width:325px)
    {
        #propos
    {
        height: 420px;
    }
    }

    @media all and (max-width:245px)
    {
        #propos
    {
        height: 500px;
    }
    }

    @media all and (max-width:215px)
    {
        #propos
    {
        height: 700px;
    }
    }
}
    