html, body {
	padding: 0;
	margin: 0;
}

#head h2
{
    margin-left: 40px;
    /*border: 2px green solid;*/
    margin-top: 0px;
    color: #546E7A;
    font-size: 40px;
}

#head
{
    width: 50%;
    
    position: relative;
    left: 580px;
    padding-top: 0px;
   
    
}

h1{
    font-size: 60px;
    margin-left: 40px;
    margin-bottom: 5px;
    font-weight: normal;
}



#lisseret
{
    width: 30%;
    background-color: #FFC400;
    text-align: left;
    text-align: left;
    height: 1745px;  
    position: absolute; 
    top: 0px; 
}

#loisirs
{
    color: #546E7A;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;    
}

.image
{
   margin-top: 15px;
   margin-left: 30%;
   width: 200px;
   clip-path: ellipse(50% 40%);
}

#lisseret, #corpus
{
    display: inline-block;
    vertical-align: top;
}
#lisseret h2
{
    color:#FFC400;
    background-color:rgba(0,77,64 ,1) ;
    text-align: center;
}

#lisseret p
{
    padding-left: 40px;
    padding-right: 40px;
}

#propos
{
    height: 1000px;
}

#corpus
{
    width: 65%;
    position: absolute;
    left: 550px;
    top: 200px;
   
}



#formation section, #experiences section
{
    display: inline-block;
    flex-direction: row;
    min-width: 30%;
    max-width: 50%;
    text-align: left;
   vertical-align: top;
    padding-left: 25px;
    margin-left: 20px;  
    
}
#formation h2, #experiences h2, #competences h2
{
    border-bottom: 2px solid  #FFC400;
    width: 85%;
    margin-left: 4%;
    font-size: 35px;
    font-weight: bold;    
}

#competences section
{
display: inline-block;
flex-direction: row;
text-align: left;
vertical-align: top;
 padding-left: 25px;
 margin-left: 20px; 
 min-width: 30%;
 max-width: 50%;
}

#langues section
{
    padding-left: 5px;
    margin-left: 0px;
    padding-top: 0px;
    width: auto;
}

#informatique section
{
    width: auto;
    padding-left: 2px;
}


#corpus .far,#corpus .fas
{
    color: #FFC400 ;
}
#corpus h3,#corpus p, #corpus ul
{
    color: #546E7A;
}
#corpus h3
{
    font-weight: bold;
}

ul
{
    list-style-type: none;;
}

#experiences ul li::before
{
    content:"\25E6";
    margin-right:10px;
    color:#FFC400;
}

    #blank section
{
    width: 10%;
    background-color: blue;
}












    @media all and (max-width:990px)
    {
        #formation section, #experiences section
        {
        display: flex;
        flex-direction: column;
        width: auto;
        }
        #lisseret
        {
          height: 2800px;
          position: absolute;
           top: 150px;  
        }

        #corpus
        {  position: relative;
            left: 280px;
            top: -50px;           
        }

        #head
        {  position: relative;
            left: 10px;
            top: -10px; 
                 
        }

        #head h2
        {
            margin-left: 40px;
          
        }
        
        h1{
            font-size: 50px;           
        }

        #propos
        {
            height: 600px;
        }

        .image
        {
            max-width: 120px;
            margin-left: 25%;
        }

    }